
body {
 background-color: #99ccff;
  background-size: 20%;
    background-repeat: repeat right;
   
    }
 h1 {
     text-align: center;
     font-size:300%;
    }
    
    style {
        align: center;
         
    }
   
    
 script {
         align: center;
         
    }
    
   
    
   
    
     
    

